img {
  height: 100px;
  width: 100px;
}
h1 {
  font-size: 3em;
  font-family: fantasy;
  color: black;
  margin: 20px;
  text-align: center;
}

body {
  z-index: 0;
  background-image: url("../images/bgpixel.png");
  width: 100vw;
  height: 100vh;
  margin: 0;

}
section {
  background-color: antiquewhite;
  opacity: 0.7;
  border-radius: 15px ;
  z-index: 10;
  margin: 20px;
  padding: 10px;

} 

section div,section p {
  opacity: 1;
  font-size: 0.8em;
  font-family: fantasy;
}

p:hover {
  font-weight: bold;
  cursor: default;
}

button {
  width: 30%;
  height: 10%;
  background-color: aliceblue;
  font-family: fantasy;

}

#fightResult {
  opacity: 1;
  font-size: 0.8em;
  font-family: fantasy;
}


